
# Environment and Secrets
.env
.env.*
!.env.example

# Logs and temporary files
*.log
*.tmp

# Mac OS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.tfstate.lock.info

# Terrafform Variables

*.tfvars
*.tfvars.json
